venv/*
.DS_Store
.idea/*


#data directory
data/*
!data/emoji_apple
data/emoji_apple/*
!data/whiten_emoji_apple
data/whiten_emoji_apple/*


#output directory
emojineer/*
!emojineer/calc_result
emojineer/calc_result/*
!emojineer/target_img
emojineer/target_img/*
