venv/*
.DS_Store
.idea/*
__pycache__/*
libs/__pycache__/*
trash/*

#data directory
/data/*
!/data/emoji_apple/
/data/emoji_apple/*
!/data/emoji_apple/.gitkeep

!/data/whiten_emoji_apple/
/data/whiten_emoji_apple/*
!/data/whiten_emoji_apple/.gitkeep

!/data/wemoji_num_dict.json
!/data/num_wemoji_dict.json
!/data/pickle_w1x1_hash_dicts_0_256_5
!/data/pickle_w1x1_hash_dicts_0_256_20


!.gitkeep

#emojineer directory
/emojineer/*
!/emojineer/calc_result/
/emojineer/calc_result/*
!/emojineer/calc_result/.gitkeep

!/emojineer/target_img/
/emojineer/target_img/*
!/emojineer/target_img/7-eleven_logo.png
